.calendarWrap {
  display: inline-block;
  position: relative;
  animation: slideInFromRight 1s ease-in;
}

.calendarElement {
  position: absolute;
  right: 0%;
  top: 40px;
  border: 1px solid #ccc;
  z-index: 999;
}

.inputBox {
  font-size: 18px;
  padding: 5px 8px 4px 15px;
  border-radius: 3px;
  border: 1px solid #666;
  color: var(--black-color);
  outline: none;
  border-radius: 20px 0px;
  cursor: grab;
  border-bottom: 4px solid var(--primary-color);
}

.rdrMonthPicker > select > option,
.rdrYearPicker > select > option {
  color: var(--black-color);
}

.rdrDayToday .rdrDayNumber span:after {
  background: var(--primary-color);
}
